html{
    background-color: rgb(245, 154, 49);
}
h2{
    color: black;
    text-align: center;
}
div#info{
    text-align: center;
}
h1{
    font-family: Helvetica;
    background-color: black;
    color: white;
}
ul{
    font-size: large;
}
